body {
    background-image: url(Assets/images/max-verstappen-red-bull-rb19-bahrain-test-planetf1.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: overlay;

    text-align: center;
}

